<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>AskMate - Question {{ question_id }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>Question {{ question_line[0] }}</h1>
    
    <p><h2>{{ question_line[4] }}</h2></p>
    <p><h2>{{ question_line[5] }}</h2></p>

        
        <tr>
            <td> Submission time: {{ question_line[1] }} </td>
            <td> View number: {{ question_line[2] }} </td>
            <td> Vote number: {{ question_line[3] }} </td>
            <td> {{ image }} </td>
        </tr>
    </table>

</body>
</html>
        
      
        
    



