<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>AskMate - Question {{ question_id }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>Question {{ question_id }}</h1>
    <table>
        {% for question_id, submisson_time, view_number, vote_number, title, message, image in question_line %}
        <tr>
            <th>{{ title }}</th>
            <th>{{ message }}</th>
            <th>{{}}</th>
        </tr>
        {% endfor %}
        {% for question_id, submisson_time, view_number, vote_number, title, message, image in question_line %}
        <tr>
            <td> Submission time: {{ submisson_time }} </td>
            <td> View number: {{ view_number }} </td>
            <td> Vote number: {{ vote_number }} </td>
            <td> {{ image }} </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
        
      
        
    



